{% extends "app1/base.html" %}
{% load static %}



{% block content %}


<div class="slider-wrapper">
    <div class="slider-container">
      <div class="slide active">
        <img src="{% static 'images/gs1.webp' %}" alt="Image 1">
      </div>
      <div class="slide ">
        <img src="{% static 'images/gs2.webp' %}" alt="Image 1">
      </div>
     
      <div class="slide">
        <img src="{% static 'images/gs3.webp' %}" alt="Image 3">
      </div>
      <div class="slide">
        <img src="{% static 'images/gs4.webp' %}" alt="Image 4">
      </div>
      <div class="slide">
        <img src="{% static 'images/gs5.webp' %}" alt="Image 4">
      </div>
      <div class="slide">
        <img src="{% static 'images/gs6.webp' %}" alt="Image 4">
      </div>
      <div class="slide">
        <img src="{% static 'images/gs7.webp' %}" alt="Image 4">
      </div>
   


    </div>

   
    <div class="dots">
      <span class="dot active" data-index="0"></span>
      <span class="dot" data-index="1"></span>
      <span class="dot" data-index="2"></span>
      <span class="dot" data-index="3"></span>
      <span class="dot" data-index="4"></span>
      <span class="dot" data-index="5"></span>
      <span class="dot" data-index="6"></span>

    </div>
</div>


<!--     -->
  <div class="promo-section7">
    <div class="promo-card7">
      <img src="{% static 'images/gw1.webp' %}" alt="Ethnic Wear">
  
    </div>
    <div class="promo-card7">
      <img src="{% static 'images/gw2.webp' %}" alt="WFH Casual Wear">
     
    </div>
   
  </div>

  <div class="star"><h1>Biggest Deals On Top Drips</h1></div>

<!--genz last -->  
  
<div class="promo-section">
  <div class="promo-card">
    <img src="{% static 'images/gl1.webp' %}" alt="Ethnic Wear">

  </div>
  <div class="promo-card">
    <img src="{% static 'images/gl2.webp' %}" alt="WFH Casual Wear">
   
  </div>
  <div class="promo-card">
    <img src="{% static 'images/gl3.webp' %}" alt="Activewear">
    
  </div>
  <div class="promo-card">
    <img src="{% static 'images/gl4.webp' %}" alt="Activewear">
  
  </div>
  <div class="promo-card">
    <img src="{% static 'images/gl5.webp' %}" alt="Western Wear">
    
  </div>
  <div class="promo-card">
    <img src="{% static 'images/gl6.webp' %}" alt="Sportswear">
    
  </div>
  <div class="promo-card">
    <img src="{% static 'images/gl7.webp' %}" alt="Sportswear">
    
  </div>
  <div class="promo-card">
    <img src="{% static 'images/gl8.webp' %}" alt="Sportswear">
  </div>
  <div class="promo-card">
    <img src="{% static 'images/gl9.webp' %}" alt="Sportswear">
  </div>
  <div class="promo-card">
    <img src="{% static 'images/gl10.webp' %}" alt="Sportswear">
  </div>
</div>

{% endblock content %}