{% extends "app1/base.html" %}
{% load static %}

{% block content %}


<!--Slider-->

<div class="slider-wrapperx">
    <div class="slider-containerx">
      <div class="slidex">
        <img src="{% static 'images/hm1.webp' %}" alt="Image 1">
      </div>

  </div>

</div>
<div class="section2">
    <div class="star">
      <h1>NICE TO SEE YOU, COME ON IN!</h1>
    </div>
  
    <div class="section2-content">
      <!-- Image Sections -->
      <div class="image-groups">
        <div class="promo-section8">
          <div class="promo-card8">
            <img src="{% static 'images/hb1.webp' %}" alt="Ethnic Wear">
          </div>
          <div class="promo-card8">
            <img src="{% static 'images/hb2.webp' %}" alt="WFH Casual Wear">
          </div>
        </div>
  
        <div class="promo-section8">
          <div class="promo-card8">
            <img src="{% static 'images/hb3.webp' %}" alt="Ethnic Wear">
          </div>
          <div class="promo-card8">
            <img src="{% static 'images/hb4.webp' %}" alt="WFH Casual Wear">
          </div>
        </div>
  
        <div class="promo-section8">
          <div class="promo-card8">
            <img src="{% static 'images/hb5.webp' %}" alt="Ethnic Wear">
          </div>
          <div class="promo-card8">
            <img src="{% static 'images/hb6.webp' %}" alt="WFH Casual Wear">
          </div>
        </div>
      </div>
  
      <!-- Paragraph Section -->
      <div class="promo-paragraph">
        <p>
            Furnishings & Bed Linen <br>
            Bed Sheets <br>
            Bedding Sets & Bed Covers <br>
            Blankets, Quilts & Dohars <br>
            Pillows & Pillow Covers <br>
            Cushions & Cushion Covers <br>

            Curtains <br>
            Mats & Dhurries <br>
            Carpets <br>
            Bath & Bed Linen <br>
            Towels & Towel Sets <br>
            Bath Robes <br>
            Bathroom Accessories <br>
            Shower Curtains <br>

            Bath Rugs <br>
            Home Décor <br>
            Pooja Essentials <br>
            Laptop Table <br>
            Ottomans <br>
            Artificial Flowers & Plants <br>
            Candles & Candle Holders <br>
            Clocks <br>
            Planters & Garden Accessories <br>
            Home Fragrances <br>
            Mirrors <br>
            Wall Art <br>
            Wall Décor  <br>
           
            Wall Shelves <br>
            Showpieces & Vases <br>
            Lamps & Lighting <br>
            Floor Lamps <br>
            Table Lamps <br>
            Wall Lamp & String Lights <br>
            Bathroom Lights & Outdoor Lamps <br>
            Bakeware <br>
            Trays & Serveware <br>
            Cookware & Kitchen Tools <br>
            Table Covers & Furnishings <br>
          Hooks & Holders
        </p>
      </div>
    </div>
  </div>
  
</div>

<!--  Featres brands-->

<div class="image-layout">
  
    <div class="full-image">
      <img src="{% static 'images/hhh1.webp' %}" alt="Full Width Image">
    </div>
  
   
    <div class="row-images">
      <div class="image-box">
        <img src="{% static 'images/hhh2.webp' %}" alt="Image 2">
      </div>
      <div class="image-box">
        <img src="{% static 'images/hhh3.webp' %}" alt="Image 3">
      </div>
      <div class="image-box">
        <img src="{% static 'images/hhh3.webp' %}" alt="Image 4">
      </div>
    </div>
  </div>
  



{% endblock content %}