{% extends "app1/base.html" %}
{% load static %}


{% block content %}

 <!--Slider 1 for Men -->
 <div class="slider-wrapper">
    <div class="slider-container">
      <div class="slide active">
        <img src="{% static 'images/ks1.webp' %}" alt="Image 1">
      </div>
      <div class="slide">
        <img src="{% static 'images/ks2.jpg' %}" alt="Image 2">
      </div>
      <div class="slide">
        <img src="{% static 'images/ks3.jpg' %}" alt="Image 3">
      </div>
      <div class="slide">
        <img src="{% static 'images/ks4.jpg' %}" alt="Image 4">
      </div>
      <div class="slide">
        <img src="{% static 'images/ks5.webp' %}" alt="Image 4">
      </div>
      <div class="slide">
        <img src="{% static 'images/ks6.webp' %}" alt="Image 4">
      </div>
    </div>

   
    <div class="dots">
      <span class="dot active" data-index="0"></span>
      <span class="dot" data-index="1"></span>
      <span class="dot" data-index="2"></span>
      <span class="dot" data-index="3"></span>
      <span class="dot" data-index="4"></span>
      <span class="dot" data-index="5"></span>
    </div>
  </div>

</div>

  <!--Slider 1 ends-->

  <!--Fav brand-->

  <div class="star"><h1>Favourite Brands</h1></div>

  <!--fav ends here-->
  <div class="promo-section">
    <div class="promo-card">
      <img src="{% static 'images/kf1.webp' %}" alt="Ethnic Wear">
  
    </div>
    <div class="promo-card">
      <img src="{% static 'images/kf2.webp' %}" alt="WFH Casual Wear">
     
    </div>
    <div class="promo-card">
      <img src="{% static 'images/kf3.webp' %}" alt="Activewear">
      
    </div>
    <div class="promo-card">
      <img src="{% static 'images/kf4.webp' %}" alt="Activewear">
    
    </div>
    <div class="promo-card">
      <img src="{% static 'images/kf5.webp' %}" alt="Western Wear">
      
    </div>
    <div class="promo-card">
      <img src="{% static 'images/kf6.webp' %}" alt="Sportswear">
      
    </div>
    <div class="promo-card">
      <img src="{% static 'images/kf7.webp' %}" alt="Sportswear">
      
    </div>
    <div class="promo-card">
      <img src="{% static 'images/kf8.webp' %}" alt="Sportswear">
    </div>
    <div class="promo-card">
      <img src="{% static 'images/kf9.webp' %}" alt="Sportswear">
    </div>
  </div>

</div>
<!--fav ends-->

<!--Top Picks-->
<div class="star"><h1>TOP PICKS</h1></div>

<div class="promo-section">
    <div class="promo-card">
      <img src="{% static 'images/wtt1.webp' %}" alt="Ethnic Wear">
  
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wtt2.webp' %}" alt="WFH Casual Wear">
     
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wtt3.webp' %}" alt="Activewear">
      
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wtt4.webp' %}" alt="Activewear">
    
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wtt5.webp' %}" alt="Western Wear">
      
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wtt6.webp' %}" alt="Sportswear">
      
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wtt7.webp' %}" alt="Sportswear">
      
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wtt8.webp' %}" alt="Sportswear">
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wtt9.webp' %}" alt="Sportswear">
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wtt10.webp' %}" alt="Sportswear">
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wtt11.webp' %}" alt="Sportswear">
    </div>

  </div>
</div>

<!--Iconic brands-->

<div class="star"><h1>Iconic brands</h1></div>

<div class="promo-section">
    <div class="promo-card">
      <img src="{% static 'images/wi1.webp' %}" alt="Ethnic Wear">
  
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wi2.webp' %}" alt="WFH Casual Wear">
     
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wi3.webp' %}" alt="Activewear">
      
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wi4.webp' %}" alt="Activewear">
    
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wi5.webp' %}" alt="Western Wear">
      
  
    </div>

  </div>
</div>
<!--Explore More-->
<div class="star"><h1>Explore More</h1></div>


<div class="promo-section7">
    <div class="promo-card7">
      <img src="{% static 'images/we1.jpg' %}" alt="Ethnic Wear">
  
    </div>
    <div class="promo-card7">
      <img src="{% static 'images/we2.jpg' %}" alt="WFH Casual Wear">
     
    </div>
    <div class="promo-card7">
      <img src="{% static 'images/we3.jpg' %}" alt="Activewear">
      
    </div>
    <div class="promo-card7">
      <img src="{% static 'images/we4.jpg' %}" alt="Activewear">
    
    </div>
    <div class="promo-card7">
      <img src="{% static 'images/we5.jpg' %}" alt="Western Wear">
  
    </div>
    <div class="promo-card7">
      <img src="{% static 'images/we6.jpg' %}" alt="Western Wear">
      
    </div>

  </div>
</div>

<!--Kids space-->
<div class="star"><h1>The Kids Space</h1></div>

<div class="promo-section7">
  <div class="promo-card7">
    <img src="{% static 'images/wk1.webp' %}" alt="Ethnic Wear">

  </div>
  <div class="promo-card7">
    <img src="{% static 'images/wk2.webp' %}" alt="WFH Casual Wear">
   
  </div>
 

</div>

<!--buy budget-->
<div class="star"><h1>Budget Buy</h1></div>




<div class="promo-section">
  <div class="promo-card">
    <img src="{% static 'images/ew1.webp' %}" alt="Ethnic Wear">

  </div>
  <div class="promo-card">
    <img src="{% static 'images/ew2.webp' %}" alt="WFH Casual Wear">
   
  </div>
  <div class="promo-card">
    <img src="{% static 'images/ew3.webp' %}" alt="Activewear">
    
  </div>
  <div class="promo-card">
    <img src="{% static 'images/ew4.webp' %}" alt="Activewear">
  
  </div>
  <div class="promo-card">
    <img src="{% static 'images/ew5.webp' %}" alt="Western Wear">

  </div>
  <div class="promo-card">
    <img src="{% static 'images/ew6.webp' %}" alt="Western Wear">

  </div>

</div>


<!--Fashion essential-->

<div class="star"><h1>Fashion & Essentials</h1></div>


<div class="promo-section">
  <div class="promo-card">
    <img src="{% static 'images/wx1.webp' %}" alt="Ethnic Wear">

  </div>
  <div class="promo-card">
    <img src="{% static 'images/wx2.webp' %}" alt="WFH Casual Wear">
   
  </div>
  <div class="promo-card">
    <img src="{% static 'images/wx3.webp' %}" alt="Activewear">
    
  </div>
  <div class="promo-card">
    <img src="{% static 'images/wx4.webp' %}" alt="Activewear">
  
  </div>
  <div class="promo-card">
    <img src="{% static 'images/wx5.webp' %}" alt="Western Wear">

  </div>
  <div class="promo-card">
    <img src="{% static 'images/wx6.webp' %}" alt="Western Wear">
  </div>
  <div class="promo-card">
    <img src="{% static 'images/wx7.webp' %}" alt="Western Wear">
  </div>
  <div class="promo-card">
    <img src="{% static 'images/wx8.webp' %}" alt="Western Wear">
  </div>
  <div class="promo-card">
    <img src="{% static 'images/wx9.webp' %}" alt="Western Wear">
  </div>
  <div class="promo-card">
    <img src="{% static 'images/wx10.webp' %}" alt="Western Wear">
  </div>

</div>

<!--Code ends-->

{% endblock content %}