{% extends "app1/base.html" %}
{% load static %}

{% block content %}

<!--Slider 1 for women-->

<div class="slider-wrapper">
    <div class="slider-container">
      <div class="slide active">
        <img src="{% static 'images/ws1.webp' %}" alt="Image 1">
      </div>
      <div class="slide">
        <img src="{% static 'images/ws2.webp' %}" alt="Image 2">
      </div>
      <div class="slide">
        <img src="{% static 'images/ws3.webp' %}" alt="Image 3">
      </div>
      <div class="slide">
        <img src="{% static 'images/ws4.webp' %}" alt="Image 4">
      </div>
      <div class="slide">
        <img src="{% static 'images/ws4.webp' %}" alt="Image 4">
      </div>
      <div class="slide">
        <img src="{% static 'images/ws5.webp' %}" alt="Image 4">
      </div>
      <div class="slide">
        <img src="{% static 'images/ws6.webp' %}" alt="Image 4">
      </div>
      <div class="slide">
        <img src="{% static 'images/ws7.webp' %}" alt="Image 4">
      </div>
      <div class="slide">
        <img src="{% static 'images/ws8.webp' %}" alt="Image 4">
      </div>
      <div class="slide">
       
        <img src="{% static 'images/ws10.webp' %}" alt="Image 4">
      </div>
    </div>

   
    <div class="dots">
      <span class="dot active" data-index="0"></span>
      <span class="dot" data-index="1"></span>
      <span class="dot" data-index="2"></span>
      <span class="dot" data-index="3"></span>
      <span class="dot" data-index="4"></span>
      <span class="dot" data-index="5"></span>
      <span class="dot" data-index="6"></span>
      <span class="dot" data-index="7"></span>
      <span class="dot" data-index="8"></span>
      <span class="dot" data-index="9"></span>
     
    </div>
  </div>
</div>
  <!--Slider one end-->

<!--Biggest Deals On Top Brands-->


<div class="star"><h1>BIGGEST DEALS ON TOP BRANDS</h1></div>

<!--Ends deals-->

 <!--deals cat-->

 <div class="promo-section">
    <div class="promo-card">
      <img src="{% static 'images/wa1.webp' %}" alt="Ethnic Wear">
  
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wa2.webp' %}" alt="WFH Casual Wear">
     
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wa3.webp' %}" alt="Activewear">
      
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wa4.webp' %}" alt="Activewear">
    
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wa5.webp' %}" alt="Western Wear">
      
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wa6.webp' %}" alt="Sportswear">
      
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wa7.webp' %}" alt="Sportswear">
      
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wa8.webp' %}" alt="Sportswear">
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wa9.webp' %}" alt="Sportswear">
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wa10.webp' %}" alt="Sportswear">
    </div>
  </div>
 </div>
  <!--deals cat ends-->

  <!--circluar cat-->

  <div class="star"><h1>Categories To Bag</h1></div>

   <!--circluar bag start-->
   <div class="promo-section">
    <div class="promo-card">
      <img src="{% static 'images/wa1.webp' %}" alt="Ethnic Wear">
  
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wa2.webp' %}" alt="WFH Casual Wear">
     
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wa3.webp' %}" alt="Activewear">
      
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wa4.webp' %}" alt="Activewear">
    
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wa5.webp' %}" alt="Western Wear">
      
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wa6.webp' %}" alt="Sportswear">
      
    </div>
    
  </div>

  <!--circular bag end-->

  <!--Top brand-->
  <div class="star"><h1>EXPLORE TOP BRANDS</h1></div>
  <!--top brand code -->

  <div class="promo-section">
  
    <div class="promo-card">
      <img src="{% static 'images/wt1.webp' %}" alt="WFH Casual Wear">
     
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wt2.webp' %}" alt="Activewear">
      
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wt3.webp' %}" alt="Activewear">
    
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wt4.webp' %}" alt="Activewear">
    
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wt5.webp' %}" alt="Western Wear">
      
    </div>
   
    
  </div>

  <!--Top brand ends-->

   <!--top western wear-->
   <div class="star"><h1>Trending In Western Wear</h1></div>
   
  <div class="promo-section">
  
    <div class="promo-card">
      <img src="{% static 'images/ww1.jpg' %}" alt="WFH Casual Wear">
     
    </div>
    <div class="promo-card">
      <img src="{% static 'images/ww2.jpg' %}" alt="Activewear">
      
    </div>
    <div class="promo-card">
      <img src="{% static 'images/ww3.jpg' %}" alt="Activewear">
    
    </div>
    <div class="promo-card">
      <img src="{% static 'images/ww4.jpg' %}" alt="Activewear">
    
    </div>
    <div class="promo-card">
      <img src="{% static 'images/ww5.jpg' %}" alt="Western Wear">
      
    </div>
   
    
  </div>

   <!-- top western wear end-->

    <!--Trending In Footwear-->
  <div class="star"><h1>Trending In Footwear</h1></div>
  <!--Trending In Footwear ends-->

  <!--Top Footwear-->
  <div class="promo-section">
  
    <div class="promo-card">
      <img src="{% static 'images/wf1.webp' %}" alt="WFH Casual Wear">
     
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wf2.webp' %}" alt="Activewear">
      
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wf3.jpg' %}" alt="Activewear">
    
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wf4.jpg' %}" alt="Western Wear">
      
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wf5.jpg' %}" alt="Western Wear">
      
    </div>
  </div>
  <!--Footwear ends-->

  <div class="star"><h1>Trending In Accessories</h1></div>


  
  <div class="promo-section">
  
    <div class="promo-card">
      <img src="{% static 'images/wta1.webp' %}" alt="WFH Casual Wear">
     
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wta2.webp' %}" alt="Activewear">
      
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wta3.webp' %}" alt="Activewear">
    
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wta4.webp' %}" alt="Western Wear">
      
    </div>
    <div class="promo-card">
      <img src="{% static 'images/wta5.webp' %}" alt="Western Wear">
      
    </div>
  </div>

 <!--Code Ends Here-->

 
{% endblock content %}